* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
}
.app-dark {
    
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.app-light {
    background-color: hsl(0, 0%, 69%);
    color: hsl(200, 15%, 8%);
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.theme-toggler {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-toggler > .icon {
    font-size: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding-bottom: 40px;
}

.input-container {
    width: 100%;
    height: 20vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input {
    width: 300px;
    height: 30%;
    padding: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}

.filter {
    width: 200px;
    height: 30%;
    font-size: 16px;
    padding: 0 20px;
    border: none;
    outline: none;
}

.cards-container {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    justify-content: space-between;
    grid-gap: 20px;
}

.card {
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(209, 23%, 22%);
    border-radius: 5px;
    overflow: hidden;
}

.dark {
    background-color: hsl(209, 23%, 22%);
    color:hsl(0, 0%, 95%);
}

.light {
    background-color: hsl(0, 0%, 95%);
    color: hsl(200, 15%, 8%);
}

.shadow {
    box-shadow: 1px 1px 5px grey;
}

.flag-img {
    height: 50%;
    object-fit: cover;
}

.country-info {
    height: 50%;
    padding: 10px 20px;
    text-decoration: none;
}

.country-name {
    display: block;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    min-width: 200px;
}

.detail {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 100px;
}

.detail > button {
    color: inherit;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    outline: none;
    cursor: pointer;
}

.detail-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-img {
    height: auto;
    max-width: 500px;
}

.detail-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.detail-name {
    font-size: 24px;
    font-weight: 900;
}

.detail-header {
    width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.borders {
    display: inline-block;
    padding: 5px 10px;
    color: inherit;
    margin-right: 3px;
    margin-left: 5px;
}

.name {
    font-size:24px;
    font-weight: 900;
}
